﻿body {
    padding: 20px;
    background-color: lightblue;
    border: 2px solid tomato;
}

h1 {
    color: navy;
    margin-left: 20px;
}

#Form1 {
    margin-left: 20px;
}

input[type=text], select, textarea {
    width: 300px;
    height:35px;
    margin-left: 10x;
    padding: 5px;
    border: 1px solid black;
    //border-radius: 4px;
    //resize: vertical;
    //background-color: grey;
}

    input[type=text]:hover, select:hover, textarea:hover {
        background-color: lightgreen;
    }

#label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

#role, #band {
    margin-left: 45px;
}


button {
    width: 80px;
    height: 25px;
    background-color:cadetblue;
    color: white;
}

div {
    margin-right: 300px;
    padding: 12px;
}

#div1 {
    margin-left: 100px;
}

input[type=submit] {
    margin-left:80px;
    background-color:grey;
    color: white;
    padding: 12px 20px border:initial;
    border-radius: 4px;
    width: 150px;
    height: 40px;
}

#band, #des, #role {
    width: 300px;
    height: 35px;
    //font-weight: 5px;
    //text-decoration:none;
    color: lightblack;
}

#select {
    //font-weight: 5px;
}

input[type=checkbox] {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: grey;
    color: grey;
}

    input[type=checkbox]:hover {
        background-color: green;
    }

#check {
    margin-left: 75px;
    
}